.navBar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    align-items: center;
}

.buttonHome-container{
    display: flex;
    border: 1px solid transparent;
    justify-content: space-evenly;
}

.button-home{
    display: flex;
    background-color: transparent;
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-radius: 0;
    justify-content: baseline;
}

.button-createActivity{
    display: flex;
    background-color: transparent;
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-radius: 0;
    justify-content: baseline;
}

