.searchBar-container {
    width: 70vw;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

::placeholder {
    color: #ffffffb6;
    /* Cambia el color a rojo (#ff0000), pero puedes usar el color que prefieras */
}

.input-search {
    height: 30px;
    background-color: rgba(32, 31, 31, 0.719);
    border: none;
    border-bottom: 2px solid whitesmoke;
    padding: 5px;
    font-size: 16px;
    outline: none;
    

}

.button-search {
    background-color: transparent;
    border-right: 1px solid whitesmoke;
    border-radius: 0;
}

.title-container{
    display: flex;
    flex-direction: column;
}

.multi-title{
    display: flex;
    position: relative;
    font-size: 10px;
}
